.card {
  display: flex;
  margin: 1rem;
  width: 28rem;
}

.card-media {
  width: 7rem;
  height: 7rem;
}

.card-details {
  flex: 1;
}

.card-timers {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 1rem 1rem;
}